[2018-01-11 23:03] tomasg2012 opened #2 "Use proper pre-processor to remove C-style comments from YANG files"
Current process is indiscriminate of string syntax and will cause line breaks in strings that contain URLs.

[2018-01-11 23:06] tomasg2012 opened #3 "[Bridge model] Fault when Include statement value is alphanumeric"
As quoted:

(Converting ieee2-dot1Q-bridge.yang)
[ieee2-dot1Q-bridge.yang.txt](https://github.com/DMTF/spmf-tools/files/1498623/ieee2-dot1Q-bridge.yang.txt)

[code]

Followup comments:
Periods are NOT allowed in CSDL, Yang files use UTF-8

https://github.com/DMTF/spmf-tools/issues/167

Additional issues:
Can we parse UTF-8 completely with modgrammar?

[2018-01-11 23:07] tomasg2012 opened #4 "[VLAN model] Fault on Description statement within Type Statement"
As quoted:

(Converting ieee2-dot1x-vlans-0515.yang)
[ieee2-dot1x-vlans-0515-v01.yang.txt](https://github.com/DMTF/spmf-tools/files/1498545/ieee2-dot1x-vlans-0515-v01.yang.txt)
[code]

[2018-01-11 23:08] tomasg2012 opened #5 "[MAC model] Fault on Prefix statement within a Module statement"
As quoted:

(Converting draft-fan-mac.yang)
[draft-fan-mac.yang.txt](https://github.com/DMTF/spmf-tools/files/1498306/draft-fan-mac.yang.txt)

[code]

**Also**, the Prefix string can have alphanumerics. (e.g. "dot1Q" and "dot1x")

[2018-01-11 23:10] tomasg2012 opened #6 "[ietf-ip] Converter can't find "tree_node""
As quoted:

Converting ietf-ip@2014-06-16.yang from github.com/YangModels, after removing BOM and comments.
[ym5_ietf-ip.yang.txt](https://github.com/DMTF/spmf-tools/files/1379799/ym5_ietf-ip.yang.txt)

[code]

Additional context:
https://github.com/DMTF/spmf-tools/issues/151

[2018-01-11 23:11] tomasg2012 opened #7 "Fault on Default statement within a Choice statement"
As quoted:

(Converting ietf-access-control-list.yang (2017.10.12)
https://github.com/YangModels/yang/blob/master/experimental/ietf/ACL-MODEL/ietf-access-control-list.yang

The YANG model has a default statement within a choice statement.

[code]

[2018-01-11 23:12] tomasg2012 opened #8 "Fault on Choice statement within a Case statement"
As quoted:

(Converting ietf-access-control-list.yang (2017.10.12)
https://github.com/YangModels/yang/blob/master/experimental/ietf/ACL-MODEL/ietf-access-control-list.yang

The YANG model has a choice statement within a case statement.
[code]

Additional Context: https://github.com/DMTF/spmf-tools/issues/140

[2018-01-11 23:13] tomasg2012 opened #9 "Handling prefix and namespace"
Context:
https://github.com/DMTF/spmf-tools/issues/137

Is handled, but ensure it is correct, where namespaces are in their proper xmlns and prefix is the proper alias

[2018-01-11 23:15] tomasg2012 opened #10 "Property Type attributes shall be defined in Redfish.Yang.Extensions_v1.xml"
In some YANG code, the import statement is used to define a namespace alias.  The namespace is used later in the type statement.
[code]
Correct.
[code]

In addition, the entry (date-and-time) should exist in Redfish.Yang.Extensions_v1.xml in both the YangTypes enumeration and the as a TERM definition

Incorrect.
[code]
The converter currently converts the leaf to the following CSDL property.  The

[2018-01-11 23:15] tomasg2012 opened #11 "Within a 'case' statement, the presence of a 'choice' or 'uses' statement cause an abort"
Additional context:
https://github.com/DMTF/spmf-tools/issues/128

[2018-01-25 21:05] tomasg2012 commented on #2
As of now, it works for http links but might break other kinds of links.

@jcleung5549 Would it be acceptable just to write in the README to suggest a utility or command line tool to strip comments?  Or should a stronger script be included with the repo, I've only been able to find perl scripts with the kind of power to remove comments consistently.  It's also an issue that YANG files themselves a

[2018-01-25 23:28] jcleung5549 commented on #2
Yes, for now.   The wording in rfc6020 makes it assumes a C-style file.  If there are usages that violate this, then should there be escape characters in the offending YANG files?  The converter might just be more rigorous that other YANG tooling.  Please send (or attach) an offending YANG model.

From rfc6020, section 6.1.1 (Comments)
   Comments are C++ style.  A single line comment starts with

[2018-03-19 17:14] seiferteric opened #12 "Having trouble with yang modules with "-" in name"
I am trying to convert some openconfig model and get these errors:

[code]
[code]

Maybe the grammer/parser assumes there is no "-" in module names? The names of the modules above are "openconfig-telemetry" and "openconfig-if" respectively. I will look and see if I can find the source of the error. These yang models can be found here: https://github.com/openconfig/public/tree/master/release/models

[2018-03-19 17:19] tomasg2012 commented on #12
The Yang converter is currently going through a backend change that will
delegate all the grammar checking to the tool pyang, but may take until the
week after this to be available on the public repo.

There are also some necessary underscore and dash changes that need to be
addressed as well, but the issue above is a result of handwriting all the yang grammar to another library in the initial rel

[2018-03-19 17:29] seiferteric commented on #12
Thank you for the quick response. BTW I work for Dell Networking and am working on our redfish implementation, it would be great if we could exchange email, mine is eric_e_seifert at dell dot com.

Thanks,
Eric Seifert

[2018-03-19 17:31] tomasg2012 commented on #12
I will send you an email.

[2018-04-05 23:18] seiferteric opened #15 "YANG prefix unimplemented in CSDL"
I am using the yang-plugin branch and pyang. In the output I don't see the prefix. For example, converting openconfig-interfaces.yang I would expect to see "oc-if" as the module name.

[2018-04-07 00:08] seiferteric commented on #12
This appears to be fixed in the pyang version (currently in the yang-plugin branch).

[2018-04-07 18:12] jcleung5549 commented on #12
I've assigned all the YANG-to-Redfish issues to Tomas with the tag 'bug'.  He will add the tag 'fixed' for any issues that he believes is fixed with the yang-plugin branch.  Then the person who submitted the issue can validate the fix and note the verification in the comments and the task force can close.

[2018-04-10 18:42] seiferteric opened #16 "Missing "Type" facet to indicate the data type used"
When using the pyang converter, the Type seems to be missing from the properties.

[2018-04-10 19:09] tomasg2012 commented on #16
Could you specify a particular file converted that this occurs on, which resulting properties it is the issue?  If not able to be uploaded in a zip, point to its source online.

[2018-04-10 20:54] seiferteric commented on #16
https://github.com/openconfig/public/blob/master/release/models/interfaces/openconfig-interfaces.yang . I only noticed the issue when taking the resultant csdl and trying to use the csdl to json schema converter. It complains about having no type defined for the properties and so it skips them.

For example, mtu in the yang:

[code]

And the outputted csdl:
[code]

[2018-04-12 18:43] tomasg2012 commented on #16
I think one of the greater issues here is that the plugin currently doesn't have any programming catering the "grouping" tag, so the behavior may not be ideal.  Otherwise, this issue will be addressed.

[2018-04-12 21:29] #2 closed, assigned to tomasg2012

[2018-04-12 21:29] #3 closed, assigned to tomasg2012, jcleung5549

[2018-04-12 21:29] #4 closed, assigned to tomasg2012, jcleung5549

[2018-04-12 21:29] #5 closed, assigned to tomasg2012, jcleung5549

[2018-04-12 21:29] #6 closed, assigned to tomasg2012, jcleung5549

[2018-04-12 21:29] #7 closed, assigned to tomasg2012, jcleung5549

[2018-04-12 21:29] #8 closed, assigned to tomasg2012, jcleung5549

[2018-04-12 21:29] #11 closed, assigned to tomasg2012, jcleung5549

[2018-04-12 21:29] #12 closed, assigned to tomasg2012

[2018-05-23 15:29] jcleung5549 opened #18 "Converting openconfig_if_aggregate.yang results in a single CSDL file"
The console message indicates no problems
[code]
But the resultant file has minimal content.

[openconfig_if_aggregate_v1.xml.txt](https://github.com/DMTF/YANG-to-Redfish-Converter/files/2031711/openconfig_if_aggregate_v1.xml.txt)

[2018-05-23 15:34] jcleung5549 opened #19 "Converting openconfig_vlan.yang results in a single CSDL file"
The console message indicates no problems
[code]
But the resultant file has minimal content.
[openconfig_vlan_v1.xml.txt](https://github.com/DMTF/YANG-to-Redfish-Converter/files/2031738/openconfig_vlan_v1.xml.txt)

[2018-05-23 15:39] jcleung5549 opened #20 "Converting openconfig-network-instance-l2.yang results in no CSDL file"
The console does not display the "Success writing..." message.  After a short while, the console prompt is displayed.
[code]
No file appears in the target directory.

[2018-05-23 15:43] jcleung5549 commented on #20
The YANG file
[openconfig-network-instance-l2.yang.txt](https://github.com/DMTF/YANG-to-Redfish-Converter/files/2031777/openconfig-network-instance-l2.yang.txt)

[2018-05-23 15:44] jcleung5549 commented on #18
The YANG file
[openconfig-if-aggregate.yang.txt](https://github.com/DMTF/YANG-to-Redfish-Converter/files/2031781/openconfig-if-aggregate.yang.txt)

[2018-05-23 15:45] jcleung5549 commented on #19
The YANG file
[openconfig-vlan.yang.txt](https://github.com/DMTF/YANG-to-Redfish-Converter/files/2031787/openconfig-vlan.yang.txt)

[2018-05-23 15:51] tomasg2012 commented on #20
This particular file uses 'submodule' which is currently unsupported, and not sure how it should be supported.  In regards to the other files in recent issues, 'grouping' is currently unsupported as well.

Currently working on it today and tomorrow.  Would submodule be just treated like a module is in the current context?  I don't know how in particular it would connect to a main module or be refe

[2018-06-18 23:33] jlwhite commented on #20
References are from https://tools.ietf.org/html/rfc6020

Grouping is essential to yang and used extensively with OpenConfig models.
•	The c analogy is struct where grouping defines a set of model structure elements to drop in any place where uses refers to the defined type.
4.2.6.  Reusable Node Groups (grouping)
   Groups of nodes can be assembled into reusable collections using the
   "grouping"

[2018-07-02 13:28] dorado18 opened #22 "Error converting Openconfig Vlan yang"
The following error is reported when trying to convert file [openconfig-vlan.yang](https://github.com/openconfig/public/blob/master/release/models/vlan/openconfig-vlan.yang):
[code]
The problem seens to be an error of not recognizing the keywords 'openconfig-extensions' and 'openconfig-version' onlines 16 and 29 respectively on file openconfig-vlan.yang.

[2018-07-03 10:41] tomasg2012 commented on #22
This is an issue I had come across but hadn't done research on what the keywords actually meant, since they were not prefixed by any yang keywords.  It seems pyang spits out something different as a result, but I don't know exactly why or what I'm supposed to do with it.

But in particular, what does the keyword mean?  From what I'm reading, it has to do with language extensions?  Does pyang suppo

[2018-07-03 12:22] dorado18 commented on #22
'openconfig-extensions' is a module defined in [openconfig-extensions.yang](https://github.com/openconfig/public/blob/master/release/models/openconfig-extensions.yang). Maybe this module is not being parsed correctly in the 'import' statement ?

When reaching "/home/ipedasia/prjs/swo/YANG-to-Redfish-Converter/YANG-to-Redfish-Plugin/rf/csdltree.py", line 335, 'yang_keyword' variable has as value a

[2018-07-03 13:01] tomasg2012 commented on #22
I think it's clearly being imported seeing as the alias is properly parsed, but I'll have to do research to see if pyang is doing anything more about it, and what's contained in the conversion spec.  Do you know if this format of "importname:importitem" in Yang files as a Keyword subsititute is only to deal with extensions?

I will report back or contact @jcleung5549 for more info about how to han

[2018-07-05 21:49] tomasg2012 commented on #22
Should perform better on the latest branch `yang-plugin`, along with e-mail based issues.

[2018-07-20 15:06] jcleung5549 commented on #19
7/20 Running latest changes generates 36 CSDL files.

However, the following messages were displayed.  I think there was a way to set the search path.

[code]

[2018-07-20 15:11] jcleung5549 commented on #18
7/20 Running the latest changes generated 8 CSDL files.

The following messages were displayed.

[code]

[2018-07-20 15:17] jcleung5549 commented on #22
The latest update doesn't exhibit this problem.  See issue #19 for the output from a current execution.  Changed 'label' to "fixed".  Issue originator should "close" issue, if satisfied.

[2018-07-20 15:21] jcleung5549 commented on #20
Running the latest changes genreates 25 CSDL files.

The following messages were displayed:

[code]

[2018-08-06 16:34] #22 closed, assigned to tomasg2012, jcleung5549

[2018-08-06 16:48] dorado18 opened #23 "No code generated for 'augment' statement"
Hello,

I am having problems with the 'augment' statement. What I'm trying to do is to generate CSDL file based on OpenConfig models, but one of the blocks I'm facing is about augmenting modules. When I augment some container for example, I can't get the CSDL files to reflect this augmenting.

This is reproducible with a minimal crafted example. Take for example file minimal_base.yang file:

[code

[2018-08-07 10:57] tomasg2012 commented on #23
The example of the proper way to augment using pyang requires listing the _augmentor_ `minimal.yang` after the _augmentee_ `minimal_base.yang`.  Example below:

`% ~/.local/bin/pyang --plugindir ./YANG-to-Redfish-Plugin -p ./ --format redfish ./minimal_base.yang ./minimal.yang`

Since the augmented item is base_container, it will generate `minimal_base.base_container_v1.xml` with the augmented pro

[2018-08-16 21:05] tomasg2012 commented on #10
Closed for mostly completed, the rest needs to be followed up in Extension file.

[2018-08-16 21:05] #10 closed, assigned to tomasg2012

[2018-08-16 21:06] tomasg2012 commented on #16
Grouping and missing type information has been improved, will doublecheck these files.

[2018-08-16 21:07] tomasg2012 commented on #23
@dorado18 Is this a satisfactory explanation?

[2018-08-16 23:01] tomasg2012 commented on #9
This needs to be consulted further on how XMLNS namespaces affect the Redfish and any other sort of spec related.

[2018-08-16 23:15] tomasg2012 commented on #15
From what I understand, only the xml attribute "Alias" is affected by the yang keyword 'prefix', and wouldn't affect the module name.  If this is related to imports, then imports should satisfy this nicely.

[2018-08-17 11:28] tomasg2012 opened #24 "Add proper support for RedfishYangExtensions"
Must implement ability to generate or add to RedfishYangExtensions xml file, based on the most basic Yang keywords/types and new created types.

- Consider generating from scratch, keeping a skeleton base line in code then to generate the resulting complementary file.
- Consider generating two different files, one for basic Yang definitions and another for Yang definitions by the converted .yang f

[2018-08-17 11:32] tomasg2012 opened #25 "Add RPC -> Action support"
Add RPC support.

[2018-08-17 12:32] dorado18 commented on #23
Yes, it is! Thank you very much! I will close the issue.

[2018-08-17 12:32] #23 closed, assigned to nobody

[2018-08-18 10:59] tomasg2012 opened #26 "Checklist for supported tags"
- [ ] 6 YANG statement mapping format
- [ ] **6.1.5 Namespace**
- [ ] 6.2.1 Belongs-to
- [ ] 6.4.2 Path
- [ ] 6.4.3 require-instance
- [ ] 6.4.4 Mapping special types
- [ ] 6.8.3 Key
- [ ] **6.10 Anyxml**
- [ ] 6.12.1 Refine
- [ ] 6.13 Rpc
- [ ] 6.13.2 Input
- [ ] 6.13.3 Output
- [ ] **6.14 Notification**
- [ ] 6.16.2 Base
- [ ] **6.17 Extension**
- [ ] **6.18 Argument**
- [x] 6.1 Module
- [x] 6.1

[2018-08-18 11:23] tomasg2012 opened #27 "Differentiate "Uses" and "Choice" node instances from local neighbors"
For properties that are generated in nodes that inherit with "uses", "choice", or other keywords do not differentiate themselves from the locally created properties in that node.  More Yang annotations might need to be present to accommodate.

[2018-08-23 16:26] dorado18 opened #28 "Property with no defined type"
Hello,

I'm getting some errors when trying to use [odata-csdl-vallidator](https://github.com/DMTF/Redfish-Tools/tree/master/odata-csdl-validator) on a file set generated by the Yang-to-Redfish tool. I'm attaching a [tar.gz file](https://github.com/DMTF/YANG-to-Redfish-Converter/files/2315288/interfaces.tar.gz) with the CSDL and yang files where the issues can be reproduced.

The tar contents will

[2018-08-24 15:34] tomasg2012 commented on #28
If your suspicion is true, this does seem to be a consequence of new type definitions not being defined in the Extension file automatically, and that's still in the works.  I wrote something of an example of the program generating a new Extensions file but am going to discuss more about how to handle this with individuals who would know more about it.

[2018-08-24 15:41] dorado18 commented on #28
Ok, thanks. By the way, I got the definition file RedfishYangExtensions_v1.xml from [TF-Network branch](https://github.com/DMTF/Redfish/blob/TF-Network/metadata/RedfishYangExtensions_v1.xml). At this stage pyang does not generate it, correct ?

[2018-08-24 15:43] tomasg2012 commented on #28
Pyang handles parsing and modifying of nodes with Augment and Uses, but the rest is generated by the plugin.  There might be an easier way to get certain type info via pyang but I currently am not sure.

[2018-08-24 18:36] tomasg2012 commented on #24
Resolution with Network TF Meeting 8/24:  migrate all specific yang file definitions to the xml files created by it, and test to see if the namespace chain resolves properly.  The only yang types that need inclusion in the YangExtensions file are yang types defined natively.

[2018-08-24 18:41] tomasg2012 commented on #15
Resolution with Network TF Meeting 8/24:  Alias is correct, however is not employed properly with yang type definitions that exist within the module namespace.  Double-check and correct this.

[2018-08-24 18:41] tomasg2012 commented on #16
Resolution with Network TF Meeting 8/24:  Closing as this appears to be fixed.

[2018-08-24 18:41] #16 closed, assigned to tomasg2012

[2018-08-24 18:42] tomasg2012 commented on #27
Resolution with Network TF Meeting 8/24:  This is not necessary, as we only care about the function.  Pyang handles this part beautifully.

[2018-08-24 18:42] #27 closed, assigned to nobody

[2018-08-24 18:44] tomasg2012 commented on #18
Resolution with Network TF Meeting 8/24:  Closing issue, and a new issue should be generated if the output is not as intended.

[2018-08-24 18:44] #18 closed, assigned to tomasg2012

[2018-08-24 18:45] tomasg2012 commented on #19
Resolution with Network TF Meeting 8/24:  Closing issue, and a new issue should be generated if the output is not as intended.

[2018-08-24 18:45] #19 closed, assigned to tomasg2012

[2018-08-24 18:45] tomasg2012 commented on #20
Resolution with Network TF Meeting 8/24:  Closing issue, and a new issue should be generated if the output is not as intended.

[2018-08-24 18:45] #20 closed, assigned to tomasg2012

[2018-11-02 02:24] vsawal opened #29 "Issue #22 still seen in `master` branch"
#22
The fix is available in `yang-plugin` branch.

Error:
[code]

[2018-11-02 02:31] vsawal opened #30 "'Unrecognized keyword' message during openconfig model conversion"
On `yang-plugin` branch, receiving following notification while converting [https://github.com/openconfig/public/blob/master/release/models/vlan/openconfig-vlan-types.yang](url) file:
[code]

[2018-11-08 03:42] vsawal opened #31 "Unresolved reference error while converting OpenConfig Yang file CSDL to JSON"
Steps to reproduce: Using file [openconfig-if-ip.yang](https://github.com/openconfig/public/blob/master/release/models/interfaces/openconfig-if-ip.yang)
1. Convert OpenConfig Yang to CSDL using `YANG-to-Redfish-Converter` plugin:
[code]
2. Step 1 generates a bunch of CSDL files in destination folder. Use `Redfish-Tools/csdl-to-json-converter/csdl-to-json.py` to convert CSDL to JSON:
[code]
3. Step

[2018-11-08 13:25] mraineri commented on #31
These look like issues with the YANG to CSDL converter.
- Redfish does not use Edm.Byte in any definitions, so the YANG converter should be changed accordingly to use a more appropriate type
- The Alias being used for "oc inet" is not correct. The top of the file aliases it as "oc-net", but it's being used as "oc_net" in some of the definitions.
- The "RedfishYang" reference should be fixed when P

[2018-11-08 22:39] mraineri opened #32 "Would like to get the plugin branch to master"
Currently has the most recent changes, but still isn't in master. Would like master to be up to date.

[2018-11-08 22:47] tomasg2012 commented on #30
Should probably move these outputs to a logger.  In the meantime, that is intended behavior for the plug-in according to the scope of the specification of YANG to Redfish, it simply makes a generic statement of that kind of information.

[2018-11-15 22:22] mraineri commented on #32
Addressed in latest PR

[2018-11-15 22:22] #32 closed, assigned to nobody

[2018-11-30 16:39] jcleung5549 opened #34 "One CSDL file per module"
Currently, the converter generates multiple CSDL files per YANG module.  The Network Infrastructure TF would like the generator to create a single consolidated CSDL file per YANG module.

[2018-12-02 23:05] vsawal commented on #29
Branch `yang-plugin` merged into `master`.
Verified.

[2018-12-02 23:05] #29 closed, assigned to tomasg2012

[2018-12-02 23:40] vsawal commented on #31
With latest HEAD, I still see the problem:
[code]

Errors:
[code]

[2019-01-14 19:04] tomasg2012 commented on #31
I'll be taking a look at this today.  I hadn't picked up on the Edm.Byte issue since the beginning of the issue, but what would it be, would a fine substitute be an Integer between 0-255?...

[2019-01-17 17:58] jcleung5549 opened #36 "The conversion from OpenConfig YANG generates more CSDL files"
The conversion from OpenConfig YANG files generates far more CSDL files than from IETF YANG files (~50 vs 6 files)

Note:
1. The "top" structures are artifacts of the OpenConfig YANG constructs.  Entities/CSDLs don't need to create for them, since they never appear in a mockup as a Redfish resource.
2. Resolving #34, would collapses both the IETF files and OpenConfig files to one CSDL file, a piec

[2019-02-15 18:52] tomasg2012 commented on #34
This issue has been addressed in the latest commits, however, the combined file still adds all the "grouping" data that is normally removed when outputting to multiple files, and needs to be fixed.

[2019-02-28 21:52] mraineri commented on #36
Resolved in latest PR

[2019-02-28 21:52] #36 closed, assigned to tomasg2012

[2019-02-28 21:52] mraineri commented on #34
Resolved in latest PR

[2019-02-28 21:52] #34 closed, assigned to tomasg2012

[2019-02-28 21:53] mraineri commented on #31
Resolved in latest PR

[2019-02-28 21:53] #31 closed, assigned to tomasg2012

[2019-02-28 21:53] mraineri commented on #30
Resolved in latest PR

[2019-02-28 21:53] #30 closed, assigned to tomasg2012

[2019-02-28 21:53] tomasg2012 commented on #9
Closed due to age and relevance.

[2019-02-28 21:53] #9 closed, assigned to tomasg2012

[2019-02-28 21:54] tomasg2012 commented on #15
Closed, Alias is included but not supported by CSDL's type resolution outside of references/imports.

[2019-02-28 21:54] #15 closed, assigned to tomasg2012

[2019-02-28 21:54] tomasg2012 commented on #28
Closed, unrelated to the tool itself as Extensions file needed to be scrubbed.

[2019-02-28 21:54] #28 closed, assigned to tomasg2012

[2019-03-29 20:18] jcleung5549 opened #39 "Travis - Unknown element name Collection"
First Travis run
[openconfig_acl_v1.xml.txt](https://github.com/DMTF/YANG-to-Redfish-Converter/files/3024370/openconfig_acl_v1.xml.txt)

 metadata/openconfig_acl_v1.xml
      ✗ is valid syntax
      Error: Unknown element name Collection
      at Schema.defaultElementParse (C:\Users\jcleung\Documents\github external\branch-networktf\Redfish\node_modules\CSDLParser\lib\ParserCommon.js:87:11)

[2019-03-29 20:19] jcleung5549 commented on #39
Travis install messages (in case it is helpful)

$ npm install
npm WARN deprecated nomnom@1.8.1: Package no longer supported. Contact support@npmjs.com for more info.
npm WARN deprecated cryptiles@2.0.5: This version is no longer maintained. Please upgrade to the latest version.
npm WARN deprecated hoek@2.16.3: This version is no longer maintained. Please upgrade to the latest version.
npm WARN de

[2019-03-29 21:05] jcleung5549 opened #40 "Unclear how to reference generated CSDL file"
[openconfig_acl_v1.xml.txt](https://github.com/DMTF/YANG-to-Redfish-Converter/files/3024552/openconfig_acl_v1.xml.txt)

The  CSDL generated from openconfig_acl.yang contains the following fragments for acl_sets and acl_set.  The schema look empty.  How does a mockup reference this to resolve the property definitions?

		<Schema xmlns="http://docs.oasis-open.org/odata/ns/edm" Namespace="openconfig_

[2019-04-04 11:02] jcleung5549 opened #41 "Collection element not recognized by Travis"
The converter generates a <Collection> element structures in the CSDL.  However, element is not recognized by Travis.

[code]

[2019-04-15 17:24] jcleung5549 commented on #41
Travis expects the<Collection> element to be within another element (like <Uses>).  This is a problem for some of the offending <Collection> elements.

(Currently, commenting out the <Collection> elements in the CSDL to make Travis happy.)

[2019-04-15 17:33] jcleung5549 opened #42 "Travis complains for <Annotation> elements"
Travis complains when an <Annotation> element is within another <Annotation> element.

[code]

[2019-04-15 17:37] jcleung5549 commented on #42
We ran into the same problem with the <Choice> element translation, in May 2018.

[2019-04-17 04:33] tomasg2012 commented on #41
With both this and #42, I believe that's how we decided to handle it, but with the CSDL tests for Travis modified to accommodate.  Without this change, it will then have a problem with multiple of the same Annotation (i.e multiple RedfishYang.identity in the same object).

How should multiple of the same Annotation work?  perhaps combine them if possible?

[2019-04-17 15:08] mraineri commented on #41
The following syntax is likely not valid in CSDL terms (but it's hard to tell from the CSDL spec):

[code]

The `<Collection>` tags likely need to be within a given `<Annotation>`.

@jcleung5549 we might need to review the translation rules with the TF to see if we need to revise how this gets populated.

[2019-04-17 15:14] mraineri commented on #41
For example:

[code]

might need to turn into this:

[code]

[2019-04-17 15:15] mraineri commented on #42
@jcleung5549 I don't think this is an issue with the tool; I think CSDLParser needs to be updated to allow `<Annotation>` within `<Annotation>`.

[2019-04-17 17:04] jcleung5549 commented on #41
I think you are right.  The YANG to Redfish mapping specification does not specify the mapping.  We can agree  at the next Network Infrastructure TF meeting.

[2019-04-26 17:46] jcleung5549 commented on #41
The following YANG statements do not result in an <Annotations> element.
- uses
- grouping
- augment
- include
- import
- belongsto
- deviation?
Keep annotations
- extension

[2019-04-26 18:37] mraineri opened #43 "Broken type references"
There are cases where some Navigation Properties are pointing to invalid definitions. For example, in openconfig_acl_v1.xml, there is the following definition:

[code]

`acl.acl` is not a valid type. There is no namespace named `acl`.

[2019-05-02 20:11] tomasg2012 commented on #41
Since a Collection will not exist at the base of a Schema, the new approach would require creating Collection in a different form.  Mike has pointed out that an Annotation with a specific name that can be defined more than once would require to be defined that way in the YangExtensions file.

[code]

needs to evolve to

[code]

or something similar, as suggested by Mike.  Not sure if Property shou

[2019-05-03 16:10] jcleung5549 commented on #41
Adding the current CSDL structure (for the discussion purposes)

[code]

[2019-05-06 14:53] tomasg2012 commented on #41
This is the resulting CSDL that Mike had suggested

[code]

Or a possible variation.
[code]

[2019-05-06 18:32] jcleung5549 commented on #41
My preference would be for the second structure, since it uses the RedfishYang defintitions. Joe?

[2019-05-10 17:09] jcleung5549 commented on #41
May 10 - TF agreed to use option 1.

[2019-05-28 18:21] tomasg2012 commented on #42
While annotations within annotation is still the case, it might no longer be the case when generating the new style of "PropertyValue" or "Property" tags inside of annotation.  However, Description tags that have `Odata.Description` and `LongDescription` would still create Annotations

ex:

[code]

Should embedded description records just be referred to by their YANG tag?

[2019-05-28 18:25] tomasg2012 commented on #41
[code]

Is how the current code in `yang-2019` is expected to output a collection of revisions.  This will likely have issue with the testing framework as RedfishYangExtensions requires an update for each property that might have expected tags embedded in them, and embedded annotations.

Additionally, in above comment (https://github.com/DMTF/YANG-to-Redfish-Converter/issues/41#issuecomment-489151

[2019-05-28 18:35] tomasg2012 commented on #40
These are not the v1_0_0 version namespace of the containers, just the base schema of it.

[code]

@mraineri is having an unversioned namespace required in all this or should the above generated just point directly to Resource.v1_0_0.Resource.  i.e. remove `BaseType="openconfig_acl.acl_set_top.acl_sets.acl_set.acl_set">` and replace with `<BaseType="Resource.v1_0_0.Resource">`

[2019-05-31 17:12] mraineri commented on #42
Since we have expectations for how certain annotations are used in Redfish, I think we'd still want to use the existing OData.Description and OData.LongDescription annotations. It would give us better mapping alignment between YANG and Redfish.

[2019-05-31 17:13] mraineri commented on #41
We'll need to update RedfishYangExtensions_v1.xml accordingly.

[2019-05-31 17:17] mraineri commented on #40
There will need to be both versioned and unversioned namespaces. For example:

The unversioned `openconfig_acl.acl_set_top.acl_sets` namespace will need to exist and contain the base entity type also named `openconfig_acl.acl_set_top.acl_sets`, which inherits from `Resource.v1_0_0.Resource`.

There will also need to be a `openconfig_acl.acl_set_top.acl_sets.v1_0_0` namespace, which contains the en

[2019-07-18 12:34] mraineri commented on #42
Newer version of CSDLParser has been pushed to allow for Annotations in Annotations and the Travis package list in the branch has been updated to use the newer version.

[2019-07-18 12:35] mraineri commented on #42
Would like to keep this open until we positively confirm this is resolved.

[2019-07-26 16:36] jcleung5549 opened #44 "Unrecognized keyword - openconfig-extensions"
A CSDL file was create, but got the following warning messages.

(yang-2019)$ pyang -p yangs --plugindir ./YANG-to-Redfish-Plugin --format redfish --target_dir output_dir --combine_all_nodes yangs/openconfig-acl.yang
We don't recognize keyword ('openconfig-extensions', 'openconfig-version'), create as statement
Success writing file to disk: output_dir/openconfig_acl_v1.xml

[2019-07-26 16:43] jcleung5549 opened #45 "Travis error - unexpected close tag"
CSDL files generated with YANG-2019 branch.  The  CSDL appears well formed, but this message occurs for some of the generated file.

[code]

[2019-07-26 16:44] jcleung5549 commented on #45
From Tomas:
So that particular error is part of a non-disclosed error by the `npm test` scripts.

Basically, any particular file that isn't found in the `metadata` folder is attempted to grab from the internet.  "http://redfish.dmtf.org/schemas/v1/openconfig_lldp_v1.xml" is not a real file, so it gets a 404 document but still tries to verify it.  I can look into how to surpress this exception.

[2019-08-02 15:31] jcleung5549 commented on #41
No longer seeing with YANG-2019.  Waiting for a clean Travis run, before closing this issue.

[2019-08-02 15:32] jcleung5549 commented on #39
No longer seeing with YANG-2019.  Waiting for a clean Travis run, before closing this issue.

[2019-08-02 15:32] tomasg2012 commented on #44
I think we made this issue once before, there's not much that can be done about this.  I can remove the error, but it will have to default to a statement, as the spec claims.

Unless I'm not aware of how to adapt it...

[2019-08-02 15:33] jcleung5549 commented on #42
No longer seeing with YANG-2019.  Waiting for a clean Travis run, before closing this issue.

[2019-08-02 15:36] jcleung5549 commented on #44
If this an informative message, then leave it.  I will just document in the README that the message is expected.

[2019-08-02 15:37] tomasg2012 commented on #39
The current version, however doesn't follow the changes to the other issue
which asks for non-repeat Annotations.  I would close this anyway, at least
to observe the changes in the other thread.

On Fri, Aug 2, 2019, 10:32 AM John Leung <notifications@github.com> wrote:

[2019-08-02 17:21] jcleung5549 commented on #39
Aug 2 meeting - agreed to close.

[2019-08-02 17:21] #39 closed, assigned to tomasg2012

[2019-08-02 17:24] jcleung5549 commented on #24
Aug 2 meeting - agreed to close.

[2019-08-02 17:24] #24 closed, assigned to jlwhite

[2019-08-02 17:44] jcleung5549 commented on #45
Aug 2 meeting - Need to also convert the referenced files.  In the above case, openconfig_lldp_types_v1.xml needs to be generated.

[2019-08-09 14:55] jcleung5549 commented on #44
Output from converting all the referenced openconfig files.  A couple of errors messages in front, then the remainder is as-expected.

[code]

[2019-08-09 16:24] jcleung5549 opened #46 "CSDLs are missing an Action"
The generated CSDL files needs a Action element.  Below is a typical message.

[code]

[2019-08-09 16:33] jcleung5549 commented on #45
Output from converting all the referenced openconfig files.  A couple of errors messages in front, then the remainder is as-expected.

[code]

[2019-08-09 16:34] jcleung5549 commented on #45
Attaching output from running Travis

[output.txt](https://github.com/DMTF/YANG-to-Redfish-Converter/files/3487240/output.txt)

[2019-08-09 16:40] jcleung5549 opened #47 "Travis errors in openconfig_acl_v1.xml"
3 Error messages
- Unable to locate type
- Unable to locate annotation term
- Pascal case violation

[code]

[2019-08-09 16:45] mraineri commented on #46
Is this something we want to whitelist in the Travis tests? I thought one of the early decisions was to not produce actions for YANG-based resources, and only put actions at the "NetworkDevice" level.

[2019-08-09 16:56] jcleung5549 commented on #46
Yes, let's whitelist.

[2019-08-09 17:16] jcleung5549 opened #48 "Travis errors on openconfig_if_aggregate_v1.xml"
2 Errors
- Invalid enum member name
- Property not Pascal case

[code]

[2019-08-09 17:20] mraineri commented on #48
These are more things we'll need to whitelist in Travis. Can't enforce the enum and property naming rules for these types of files.

[2019-08-09 17:21] jcleung5549 opened #49 "Travis error - Unknown attribute name Alias (3 times)"
[code]

[2019-08-09 17:24] jcleung5549 commented on #49
Same Error message from
- openconfig_qos_elements_v1.xml
- openconfig_qos_interfaces_v1.xml

[2019-08-12 15:09] mraineri commented on #46
A check for the YANG whitelist will need to be made in the "entityTypesHaveActions" function of csdl-syntax-test.js.

[2019-08-16 15:27] jcleung5549 commented on #48
Can you give me a pointer to the the whitelist?  I will modify locally so Travis will complete without errors.

[2019-09-05 18:06] jcleung5549 commented on #47
With the yang-2019 branch, the error messages are down to 2:

[code]

[2019-09-05 18:08] jcleung5549 commented on #48
Using branch yang-2019, there are no errors on openconfig_if_aggregate_v1.xml.

[2019-09-05 18:08] #48 closed, assigned to nobody

[2019-09-05 18:11] jcleung5549 commented on #49
Using branch yang-2019, error messages still exist

[2019-09-05 18:17] jcleung5549 opened #50 "Travis warning - Complex Types Should Not have Permissions (5 times)"
Error occurs in 5 files:
- openconfig_network_instance_v1.xml
- openconfig_platform_transceiver_v1.xml
- openconfig_platform_v1.xml
- openconfig_qos_v1.xml
- openconfig_vlan_v1.xml

[code]

[2019-09-05 18:20] jcleung5549 commented on #46
Using branch yang-2019 and the latest update to csdl-syntax-test.js, this Travis error is gone.

[2019-09-05 18:20] #46 closed, assigned to tomasg2012

[2019-09-05 18:21] jcleung5549 commented on #45
Using the branch yang-2019 , this error is no longer seen.

[2019-09-05 18:21] #45 closed, assigned to tomasg2012

[2019-09-05 18:22] jcleung5549 commented on #42
Travis is not longer generating this error.

[2019-09-05 18:22] #42 closed, assigned to mraineri

[2019-09-05 18:23] jcleung5549 commented on #41
Travis is no longer generating this error.

[2019-09-05 18:23] #41 closed, assigned to jcleung5549, jlwhite

[2019-09-05 18:25] jcleung5549 commented on #40
Using the branch yang-2019, this is no longer an issue.

[2019-09-05 18:25] #40 closed, assigned to nobody

[2019-09-05 18:35] jcleung5549 opened #51 "Travis error - Unable to locate type (6 times)"
This error was generated by 6 files
- openconfig_acl_v1.xml looking for oc_pkt_match_types.ethertype_type
- openconfig_interfaces_v1.xml looking for oc_vlan_types.vlan_id
- openconfig_platform_transceiver_v1.xml looking for openconfig_platform.v1_0_0.present
- openconfig_platform_v1.xml looking for oc_opt_types.frequency_type
- openconfig_qos_v1.xml looking for oc_qos_types.queue_behavior
- openco

[2019-09-05 18:42] jcleung5549 opened #52 "Travis error - Unable to locate annotation (5 times)"
This error was generated from 5 files
- openconfig_acl_v1.xml looking for oc_pkt_match_types.YangType
- openconfig_interfaces_v1.xml looking for oc_vlan_types.YangType
- openconfig_network_instance_v1.xml looking for oc_vlan_types.YangType
- openconfig_platform_v1.xml looking for oc_opt_types.YangType
- openconfig_qos_v1.xml looking for oc_qos_types.YangType

[code]

[2019-09-05 18:47] jcleung5549 opened #53 "Travis error - RedfishYangExtensions.v1_0_0 needs OwningEntity and Release terms"
[code]

[2019-09-05 18:49] mraineri commented on #53
Since that file is constructed manually, I think we need to add those annotations to the file.

[2019-09-11 21:39] jcleung5549 commented on #53
Added annotations.

[2019-09-11 21:39] #53 closed, assigned to nobody

[2020-09-23 17:53] jcleung5549 commented on #52
Issue resolved in latest update to the emulator.

[2020-09-23 17:53] #52 closed, assigned to nobody

[2020-09-23 17:54] jcleung5549 commented on #51
Issue resolved in latest update to the emulator.

[2020-09-23 17:54] #51 closed, assigned to tomasg2012

[2020-09-23 17:54] jcleung5549 commented on #50
Issue resolved in latest update to the emulator.

[2020-09-23 17:54] #50 closed, assigned to nobody

[2020-09-23 17:54] jcleung5549 commented on #49
Issue resolved in latest update to the emulator.

[2020-09-23 17:54] #49 closed, assigned to tomasg2012

[2020-09-23 17:55] jcleung5549 commented on #47
Issue resolved in latest update to the emulator.

[2020-09-23 17:55] #47 closed, assigned to tomasg2012

[2020-09-23 17:56] jcleung5549 commented on #43
Issue resolved in latest update to the emulator.

[2020-09-23 17:56] #43 closed, assigned to nobody

[2020-10-08 16:04] jcleung5549 opened #54 "RedfishYangExtension missing OwningEntity and Release annotations"
The Travis messages

1) CSDL Tests
       metadata/RedfishYangExtensions_v1.xml
         All namespaces have OwningEntity:
     Error: Namespace RedfishYangExtensions.v1_0_0 lacks OwningEntity!
      at schemaOwningEntityCheck (node_modules/redfishrepotest/csdl-syntax-test.js:1618:15)
      at Context.<anonymous> (node_modules/redfishrepotest/csdl-syntax-test.js:164:55)
      at processImmediate (

[2020-10-08 16:06] jcleung5549 commented on #54
Added them manually.  This eliminated the message regarding the Release annotation.  Still not happy with the OwningEntity.

    <Schema xmlns="http://docs.oasis-open.org/odata/ns/edm" Namespace="RedfishYangExtensions.v1_0_0">
      <Annotation Term="Redfish.OwningEntity" String="DMTF"/>
      <Annotation Term="Redfish.Release" String="1.0"/>

[2020-10-08 16:07] jcleung5549 commented on #54
The OeningEntity annotation in RedfishExtensions_v1.xml has a different form.

      <Annotation Term="RedfishExtensions.v1_0_0.OwningEntity" String="DMTF"/>

[2020-10-08 20:17] jcleung5549 commented on #54
Looks like the issue are in csdl-syntax-test.js

[code]

[2020-10-09 12:26] mraineri commented on #54
It's different in RedfishExtensions_v1.xml because of the lack of aliasing in that file. All other files pull in "RedfishExtensions.v1_0_0" and alias it as "Redfish", but local aliasing does not seem possible.

[2020-10-09 15:41] jcleung5549 commented on #54
Thanks for the guidance.  I just have one error regarding OwningEntity.

[code]
But, the annotation is there

[code]

[2020-10-09 15:45] mraineri commented on #54
It might be because it's lacking the inclusion of the RedfishExtensions file; try adding:

[code]

[2020-10-09 15:57] jcleung5549 commented on #54
Bingo!

Thanks. Your guidance is better than my flailing.

[2020-10-09 19:29] jcleung5549 commented on #54
Resolved

[2020-10-09 19:29] #54 closed, assigned to nobody

[2020-11-20 20:15] jcleung5549 opened #56 "Updates to the YANG to Redfish Mapping Specification"
With the converter working, I'd like to update the mapping specification (DSP0271) to represent the mapping algorithms now being used by the converter. Then DSP0271 can be released at 1.0.0.
https://www.dmtf.org/sites/default/files/standards/documents/DSP0271_0.5.6.pdf

Review the document and provide comments on what needs to be updated.

[2020-11-20 20:59] mraineri commented on #44
Closing; explained in README now

[2020-11-20 20:59] #44 closed, assigned to tomasg2012